body {
    background: #DDDDDD;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.10);
}

nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    display: block;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #444444;
    text-decoration: none;
    display: block;
    padding: 0.75em 1.75em;
}

nav li:hover {
    background: #444444;
}
nav li:hover a {
    color: #FFFFFF;
}

.menu-sub  {
    position: absolute;
    background: #444;
    display: none;
    padding: 30px;
}

.menu-sub li {
    display: block;
}

nav li:hover .menu-sub {
    display: block;
    width: 100%;
}


.menu-category {
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 2.5em 0 0.5em 0;
}



.menu-sub a {
    padding: 0;
    margin-bottom: 0.35em;
}
.menu-sub a:hover {
   text-decoration: underline;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
    float: left;
}

.menu-col-1 {
    width: 25%;
}

.menu-sub-2, 
.menu-sub-3, 
.menu-sub-4 {
    position: absolute;
    left: 0px;
    
}
